<!DOCTYPE html>
<html>
  <head>
    <title>S3 Browser</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Google Fonts Roboto -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }
      .container {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper blue">
        <a href="/" class="brand-logo center">S3 File Browser</a>
      </div>
    </nav>
    <div class="container">{% block content %}{% endblock %}</div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
